@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

/* ------------------------desktopfirst ------------------------ */
/* -------------Layout------------ */
.App {
  text-align: center;
  direction: rtl;
  font-family: 'Heebo', sans-serif;
}
/* set body */
body {margin: 0}
.container {width: 80vw;margin: auto;}
/* --- loading image --- */
.loading img {
  width: 10vh;
}
/* --- li --- */
li {
  list-style: none;
  display: inline-flex;
  margin: 0 1vw;
}
/* --- buttons --- */
button {
  background-color: #55a658;
  color: #ffff;
  width: 10vw;
  min-width: 100px;
  max-width: 200px;
  font-size: 2ex;
}
/* input - submit */
input[type="submit"] {
  background-color: #55a658;
  color: #ffff;
  width: 10vw;
  min-width: 100px;
  max-width: 200px;
  font-size: 2ex;
  border-radius: 5px;
  margin: 5px 10px;
}
/* ---navbar - header--- */
.navbar {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid black;
  width: 96vw;
  padding: 0 2vw;
  background-color: #55a658;
}
/* logo text */
h1.logotxt { 
  color: white;
  display: inline-block;
  float: right;
  width: 20vw;
  padding: 0;
  margin: 2vh 0;
  font-size: 3ex;
}
/* navbar ul */
.navbar ul {
  display: inline-flex;
  justify-content: space-between;
  width: 80vw;
  padding: 0;
  margin: 2vh 0;
  align-items: center;
}
.navbar li {
  max-width: 80px;
  min-width: 70px;
  margin: 0 1vw;
  justify-content: center;

}
/* navbar links */
a:link { color: #ffff; text-decoration: none}
a:visited { color: #ffff; text-decoration: none}
a:hover { color: #ffff; text-decoration: none;border-bottom: 1px solid white;}
a:active { color: #ffff; text-decoration: none}
a#logo:hover {border: none;}
/* --- sidebar --- */
li.sideBarItem {
  display: block;
  text-align: right;
}

/* --- table --- */
table {border: 1px solid black;}
tr {border: 1px solid black;}
td {border: 1px solid;}

/* ---sidebar --- *
.sideBar {
  grid-area: sidebar;
  background-color: #719e40a3;
  color: white;
}
.navbar {grid: header;grid-area: header;background-color: #719e40;color: white;}
.container {
  grid-area: main;
}
.sidebar ul {padding-inline-start: 0px !important;} */


/* ------------- home page ------------- */
/* main image */
.hp-main-img img {
  height: 50vh;
  width: 100vw;
  margin-right: -10vw;
  object-fit: fill;
}
/* buttons */
button.hp-button {border-radius:5px;margin:10px;}
span.command {
  display: block;
}

/* --- login ui---  */
.websiteItem {
  background-color: #e1e1e1;
  width: 60%;
  margin: 5px auto;
  border: 1px solid;
}
/* ------------- Add website page ------------- */
.day {
  /* display: table-cell; */
}
button.websiteBtn{
  border-radius: 5px;
  margin: 5px 10px;
}
